<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966538374277-l8q9mdv0k7dtuvhrksr4evailbecj0ne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966538374277-l8q9mdv0k7dtuvhrksr4evailbecj0ne</string>
	<key>API_KEY</key>
	<string>AIzaSyA_qilJNLn2lDa4rEDjDGELh4178KSWuC0</string>
	<key>GCM_SENDER_ID</key>
	<string>966538374277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.updhd.flutterFirebaseAuthApp</string>
	<key>PROJECT_ID</key>
	<string>flutterapp-7f29b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterapp-7f29b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966538374277:ios:24fec8db3eba31f23dcdec</string>
</dict>
</plist>